.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title= t '.new_team'
      .panel-body
        = simple_form_for @team do |f|
          = f.input :title
          = f.input :public
          = f.input :join_requirement_name, input_html: { value: "" }, label: t('.join_requirements')
          %div.join-requirements-holder.row
            = render partial: 'join_requirement_list'

          = f.button :submit

- content_for :body_end do
  #modal.modal.fade.bs-example-modal-lg
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{type: 'button', 'data-dismiss': 'modal'}
            %span &times;
          %h4.modal-title
        .modal-body
