= simple_form_for :session, url: session_path, class: 'mb-lg' do |f|
  .from-group.has-feedback.mb-lg
    = f.input_field :email, placeholder: User.human_attribute_name(:email), class: 'form-control'
    %span.fa.fa-envelope.form-control-feedback.text-muted

  .from-group.has-feedback.mb-lg
    = f.input_field :password, placeholder: User.human_attribute_name(:password), class: 'form-control'
    %span.fa.fa-lock.form-control-feedback.text-muted

  .clearfix
    .checkbox.c-checkbox.pull-left.mt0
      = f.input_field :remember, as: :boolean, inline_label: "Lembrar"
    .pull-right
      = link_to "Esqueceu a senha?", new_password_path, class: 'text-muted'

  = link_to "Voltar", root_path, class:'btn btn-default pull-left col-md-6'
  = f.button :submit, class: 'btn btn-success pull-right col-md-6'
