- if signed_in? && @is_user_subscribed
  = simple_form_for commentable, class: 'form-horizontal' do |f|
    = f.input :user_id, as: :hidden
    = f.input :commentable_id, as: :hidden
    = f.input :commentable_type, as: :hidden
    .form-group
      = f.input :content, as: :text, id: 'post-comment', class: 'form-control', placeholder: 'Comente aqui...', input_html: {rows: 4}, label: false
    .form-group
      = f.button :submit, class: 'btn btn-effect-ripple btn-primary'
- else
  .text-center
    - if signed_in? && !@is_user_subscribed
      = t '.subscribe_to_comment'
    - unless signed_in?
      - sign_up_link = link_to 'cadastro', sign_up_path
      - sign_in_link = link_to 'entre', sign_in_path
      = t('.authenticate_to_comment', sign_up_link: sign_up_link, sign_in_link: sign_in_link).html_safe
