.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        - title = "Busca por \"#{@q}\""
        - title << " em #{@title}" if @title
        %h3.panel-title= title
      .panel-body
        - if @results.is_a? Hash
          %ul.nav.nav-tabs
            - @results.each_with_index do |(key, results), i|
              %li{class: i.zero? ? 'active' : ''}
                - model_name = results.model.model_name.human(count: 2)
                = link_to "#{model_name} (#{results.size})", "##{key}", 'data-toggle': 'tab'

          .tab-content
            - @results.each_with_index do |(key, results), i|
              .tab-pane{id: key, class: i.zero? ? 'active' : ''}
                = render partial: 'results', locals: {results: results}

        - else
          = render partial: 'search/results', locals: {results: @results}
