.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title= "Busca por \"#{@q}\""
      .panel-body
        %div
          %ul.nav.nav-tabs
            %li.active
              = link_to Group.model_name.human(count: 2), '#groups', 'data-toggle': 'tab'
            %li
              = link_to Topic.model_name.human(count: 2), '#topics', 'data-toggle': 'tab'

          .tab-content
            .tab-pane.active#groups
              = render partial: 'results', locals: {results: @groups}
            .tab-pane#topics
              = render partial: 'results', locals: {results: @topics}
