.row
  .panel.panel-default
    .panel-body
      #topic{'data-topic-id' => @topic.id}
        %h1= @topic.title
        .col-md-6
          %p= Topic.model_name.human
          / Nav tabs
          %ul.nav.nav-tabs{:role => "tablist"}
            %li.active{:role => "presentation"}
              %a{"aria-controls" => "popular", "data-toggle" => "tab", :href => "#consensus", :role => "tab"}
                = t '.consensus'

          / Tab panes
          .tab-content
            #consensus.tab-pane.active{:role => "tabpanel"}
              = render partial: @sections

              - if signed_in? && @is_user_subscribed
                = link_to t('sections.add_section'), new_js_topic_proposal_path(@topic), remote: true, class: 'btn btn-default btn-block add-section'

              = paginate @sections, param_name: 'sections_page', window: 0

        .col-md-6
          %p= t '.suggestions_for_selected_section'
          / Nav tabs
          %div.tabs-holder
            %ul.nav.nav-tabs{:role => "tablist"}
              %li.active{:role => "presentation"}
                %a{"aria-controls" => "popular", "data-toggle" => "tab", :href => "#popular", :role => "tab"}
                  = t 'filters.popular'
              %li{:role => "presentation"}
                %a{"aria-controls" => "top", "data-toggle" => "tab", :href => "#controversial", :role => "tab"}
                  = t 'filters.controversial'
              %li{:role => "presentation"}
                %a{"aria-controls" => "recents", "data-toggle" => "tab", :href => "#recent", :role => "tab"}
                  = t 'filters.recents'

          / Tab panes
          .tab-content
            #popular.tab-pane.active{:role => "tabpanel"}
            #controversial.tab-pane{:role => "tabpanel"}
            #recent.tab-pane{:role => "tabpanel"}

.row
  .panel.panel-default
    .panel-heading
      %em.fa.fa-pencil.mr>
      = t '.write_comment'
    .panel-body
      = render partial: "comments/form", locals: {commentable: @comment}

.row
  .panel.panel-default
    .panel-heading= "#{@topic.comments.size} #{Comment.model_name.human(count: 2)}"
    .panel-body
      - @comments.each do |c|
        = render partial: "comments/comment", locals: {comment: c}
      = paginate @comments, param_name: 'comments_page'

- content_for :body_end do
  #modal.modal.fade.bs-example-modal-lg
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{type: 'button', 'data-dismiss': 'modal'}
            %span &times;
          %h4.modal-title
        .modal-body
