.row
  .panel.panel-default
    .panel-body
      %h1= @topic.title
      .col-md-6
        %p Tópico
        / Nav tabs
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a{"aria-controls" => "popular", "data-toggle" => "tab", :href => "#consenso", :role => "tab"} Consenso

        / Tab panes
        .tab-content
          #consenso.tab-pane.active{:role => "tabpanel"}
            - @topic.consensus.each do |p|
              = render partial: "proposals/proposal", locals: {proposal: p}



      .col-md-6
        %p Alteração para proposta selecionada
        / Nav tabs
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a{"aria-controls" => "popular", "data-toggle" => "tab", :href => "#popular", :role => "tab"} Popular
          %li{:role => "presentation"}
            %a{"aria-controls" => "top", "data-toggle" => "tab", :href => "#top", :role => "tab"} Topo
          %li{:role => "presentation"}
            %a{"aria-controls" => "recents", "data-toggle" => "tab", :href => "#recents", :role => "tab"} Recentes

        / Tab panes
        .tab-content
          #popular.tab-pane.active{:role => "tabpanel"}
            - @topic.popular.each do |p|
              = render partial: "proposals/proposal", locals: {proposal: p}

          #top.tab-pane{:role => "tabpanel"}
          #recents.tab-pane{:role => "tabpanel"}

.row
  .panel.panel-default
    .panel-heading
      %em.fa.fa-pencil.mr>
      Escreva um comentário
    .panel-body
      - if signed_in?
        = simple_form_for @comment, class: 'form-horizontal' do |f|
          = f.input :user_id, as: :hidden
          = f.input :commentable_id, as: :hidden
          = f.input :commentable_type, as: :hidden
          .form-group
            .col-md-12
              = f.input :content, as: :text, id: 'post-comment', class: 'form-control', placeholder: 'Comente aqui...', input_html: {rows: 4}, label: false
          .form-group
            .col-md-12
              = f.button :submit, class: 'btn btn-effect-ripple btn-primary', value: 'Comentar'
      - else
        .text-center
          Faça seu
          = link_to 'cadastro', sign_in_path
          ou
          = link_to 'entre', sign_in_path
          para comentar.

.row
  .panel.panel-default
    .panel-heading #{@topic.comments.size} Comentário
    .panel-body
      - @topic.comments.each do |c|
        = render partial: "comments/comment", locals: {comment: c}
