.row
  .panel.panel-default
    .panel-body
      #topic{'data-topic-id' => @topic.id}
        %h1= @topic.title
        .col-md-6
          %p Tópico
          / Nav tabs
          %ul.nav.nav-tabs{:role => "tablist"}
            %li.active{:role => "presentation"}
              %a{"aria-controls" => "popular", "data-toggle" => "tab", :href => "#consensus", :role => "tab"} Consenso

          / Tab panes
          .tab-content
            #consensus.tab-pane.active{:role => "tabpanel"}
              - @topic.proposals_count.times do |i|
                - p = @topic.proposal_consensus(i)
                = render partial: "proposals/proposal", locals: {proposal_index: i, proposal: p}



        .col-md-6
          %p Alteração para proposta selecionada
          / Nav tabs
          %ul.nav.nav-tabs{:role => "tablist"}
            %li.active{:role => "presentation"}
              %a{"aria-controls" => "popular", "data-toggle" => "tab", :href => "#popular", :role => "tab"} Popular
            %li{:role => "presentation"}
              %a{"aria-controls" => "top", "data-toggle" => "tab", :href => "#controversial", :role => "tab"} Controverso
            %li{:role => "presentation"}
              %a{"aria-controls" => "recents", "data-toggle" => "tab", :href => "#recents", :role => "tab"} Recentes

          / Tab panes
          .tab-content
            #popular.tab-pane.active{:role => "tabpanel"}
            #controversial.tab-pane{:role => "tabpanel"}
            #recent.tab-pane{:role => "tabpanel"}

.row
  .panel.panel-default
    .panel-heading
      %em.fa.fa-pencil.mr>
      Escreva um comentário
    .panel-body
      = render partial: "comments/form", locals: {commentable: @comment}

.row
  .panel.panel-default
    .panel-heading #{@topic.comments.size} Comentário
    .panel-body
      - @topic.comments.each do |c|
        = render partial: "comments/comment", locals: {comment: c}

- content_for :body_end do
  #modal.modal.fade.bs-example-modal-lg
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{type: 'button', 'data-dismiss': 'modal'}
            %span &times;
          %h4.modal-title
        .modal-body
