- if groups.size > 0
  %table.table.table-striped
    %tbody
      - groups.each do |g|
        %tr
          %td
            %h4
              =link_to recursive_group_path(g) do
                %strong= g.title
            .text-muted.text-sm
              %span
                %strong.mr-sm>
                  = g.children.size
                  = t '.subgroups'
              %span.mh-sm
              %span
                %strong.mr-sm>
                  = g.topics.size
                  = t '.topics'
          %td.text-right.hidden-xs.hidden-sm
            .text-muted
              %small
                = t '.created_at', timestamp: time_ago_in_words(g.updated_at)

  = paginate groups, param_name: 'page_subgroups', remote: true

- else
  .text-center
    = t '.groups_not_found'
