- if topics.any?
  %table.table.table-striped
    %tbody
      - topics.each do |t|
        %tr
          %td
            %h4
              = link_to t do
                %strong= t.title
            .text-muted.text-sm
              %span
                %strong.mr-sm>= "#{t.proposals.size} proposta(s)"
              %span.mh-sm
              %span
                %strong.mr-sm>= "#{t.participants.size} participante(s)"
          %td.text-right.hidden-xs.hidden-sm
            .text-muted
              %small= "Última atualização em #{t.updated_at}"
- else
  .text-center
    Não há tópicos nesta categoria
