- if topics.any?
  %table.table.table-striped
    %tbody
      - topics.each do |t|
        %tr
          %td
            %h4
              = link_to t do
                %strong= t.title
            %span.text-muted.text-sm
              %span
                %strong.mr-sm
                  = t.proposals.size
                  = t '.proposals'
              %span.mh-sm
              %span
                %strong.mr-sm
                  = t.participants.size
                  = t '.participants'

            - if t.team
              %span.label.label-success
                = t.team.title

          %td.text-right.hidden-xs.hidden-sm
            .text-muted
              %small
                = t '.last_update', timestamp: t.updated_at

  = paginate topics, param_name: page_param_name, remote: true

- else
  .text-center
    = t '.topics_not_found'
