- if topics.any?
  %table.table.table-striped
    %tbody
      - topics.each do |t|
        %tr
          %td
            %h4
              = link_to t do
                %strong= t.title
            .text-muted.text-sm
              %span
                %strong.mr-sm
                  = t.proposals.size
                  = t '.proposals'
              %span.mh-sm
              %span
                %strong.mr-sm
                  = t.participants.size
                  = t '.participants'
          %td.text-right.hidden-xs.hidden-sm
            .text-muted
              %small
                = t '.last_update', timestamp: t.updated_at
- else
  .text-center
    = t '.topics_not_found'
