- if signed_in?
  .row.subscribe-button
    - if @subscription.persisted?
      = render partial: 'subscriptions/unsubscribe_button'
      = link_to new_group_topic_path(@group), class: 'btn btn-primary btn-xs btn-labeled' do
        %span.btn-label
          %i.fa.fa-edit
        Novo tópico
    - else
      = render partial: 'subscriptions/subscribe_button'
      = link_to '#', class: 'btn btn-primary btn-xs btn-labeled', disabled: true do
        %span.btn-label
          %i.fa.fa-edit
        Novo tópico

.row
  .panel.panel-default
    %div{:role => "tabpanel"}
      / Nav tabs
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a{"aria-controls" => "popular", "data-toggle" => "tab", :href => "#popular", :role => "tab"} Popular
        %li{:role => "presentation"}
          %a{"aria-controls" => "rising", "data-toggle" => "tab", :href => "#rising", :role => "tab"} Subindo
        %li{:role => "presentation"}
          %a{"aria-controls" => "controversial", "data-toggle" => "tab", :href => "#controversial", :role => "tab"} Controversos
        %li{:role => "presentation"}
          %a{"aria-controls" => "subgroups", "data-toggle" => "tab", :href => "#subgroups", :role => "tab"} Subgrupos
      / Tab panes
      .tab-content
        #popular.tab-pane.active{:role => "tabpanel"}
          = render partial: "topics_list", locals: {topics: @group.popular}
        #rising.tab-pane{:role => "tabpanel"}
          = render partial: "topics_list", locals: {topics: @group.rising}
        #controversial.tab-pane{:role => "tabpanel"}
          = render partial: "topics_list", locals: {topics: @group.controversial}
        #subgroups.tab-pane{:role => "tabpanel"}
          = render partial: "groups_list", locals: {groups: @group.children}
