- if signed_in?
  .row.subscribe-button
    - if @subscription.persisted?
      = render partial: 'subscriptions/unsubscribe_button'
      = link_to new_group_topic_path(@group), class: 'btn btn-primary btn-xs btn-labeled' do
        %span.btn-label
          %i.fa.fa-edit
        Novo tópico
    - else
      = render partial: 'subscriptions/subscribe_button'
      = link_to '#', class: 'btn btn-primary btn-xs btn-labeled', disabled: true do
        %span.btn-label
          %i.fa.fa-edit
        Novo tópico

.row
  .panel.panel-default
    %div{:role => "tabpanel"}
      / Nav tabs
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a{"aria-controls" => "hot", "data-toggle" => "tab", :href => "#hot", :role => "tab"} Em destaque
        %li{:role => "presentation"}
          %a{"aria-controls" => "rising", "data-toggle" => "tab", :href => "#rising", :role => "tab"} Subindo
        %li{:role => "presentation"}
          %a{"aria-controls" => "controversial", "data-toggle" => "tab", :href => "#controversial", :role => "tab"} Controversos
        %li{:role => "presentation"}
          %a{"aria-controls" => "top", "data-toggle" => "tab", :href => "#top", :role => "tab"} No topo
        %li{:role => "presentation"}
          %a{"aria-controls" => "subgroups", "data-toggle" => "tab", :href => "#subgroups", :role => "tab"} Subgrupos
      / Tab panes
      .tab-content
        #hot.tab-pane.active{:role => "tabpanel"}
          %table.table.table-striped
            %tbody
              - @group.topics.each do |topic|
                %tr
                  %td
                    %h4
                      =link_to topic do
                        %strong= topic.title
                    .text-muted.text-sm
                      %span
                        %strong.mr-sm> 623 mensagens
                      %span.mh-sm
                      %span
                        %strong.mr-sm> 323 participantes
                  %td.text-right.hidden-xs.hidden-sm
                    .text-muted
                      %small Última atualização em 07 de outubro de 2015
        #rising.tab-pane{:role => "tabpanel"}
          rising
        #controversial.tab-pane{:role => "tabpanel"} controversial
        #top.tab-pane{:role => "tabpanel"} top
        #subgroups.tab-pane{:role => "tabpanel"}
          %table.table.table-striped
            %tbody
              - @group.children.each do |subgroup|
                %tr
                  %td
                    %h4
                      =link_to subgroup do
                        %strong= subgroup.title
                    .text-muted.text-sm
                      %span
                        %strong.mr-sm> 5 subgrupos
                      %span.mh-sm
                      %span
                        %strong.mr-sm> 323 tópicos
                  %td.text-right.hidden-xs.hidden-sm
                    .text-muted
                      %small Última atualização em 11 de agosto de 2015
