.row
  .panel.panel-default.col-md-6.col-md-offset-3
    .panel-body
      %h2
        .text-center
          = t '.title'
      %p
        = t '.description'
      = simple_form_for current_user, class: 'mb-lg' do |f|
        .from-group.has-feedback.mb-lg
          = f.input_field :password, placeholder: "Senha", class: 'form-control'
          %span.fa.fa-lock.form-control-feedback.text-muted

        .from-group.has-feedback.mb-lg
          = f.input_field :password_confirmation, placeholder: t('.retype_password'), class: 'form-control'
          %span.fa.fa-lock.form-control-feedback.text-muted

        = link_to "Voltar", root_path, class:'btn btn-default pull-left col-md-6'
        = f.button :submit, value: "Atualizar", class: 'btn btn-success pull-right col-md-6'
