/ START Top Navbar
%nav.navbar.topnavbar{role: 'navigation'}
  / START navbar header
  .navbar-header
    %button.navbar-toggle{'data-target': '.navbar-collapse', 'data-toggle': 'collapse', type: 'button'}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to root_path, id: 'brand' do
      %img{alt: 'Konsento', src: image_path('konsento-logo.png')}
      .name Konsento
  / END navbar header
  / START Nav wrapper
  .navbar-collapse.collapse
    / START Right Navbar
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{href: 'http://about.konsento.org/', target: '_blank'}
          = t '.about'
      / Search icon
      %li
        %a{'data-search-open': '', href: '#'}
          %em.icon-magnifier
      - if signed_in?
        / START Alert menu
        %li.dropdown.dropdown-list
          = link_to preview_js_notifications_path, remote: true, 'data-toggle' => 'dropdown', method: :post do
            %em.icon-bell
            - if current_user.notifications.unread.any?
              .unread-notifications.label.label-danger= current_user.notifications.unread.size
          / START Dropdown menu
          %ul.dropdown-menu.animated.fadeIn
            %li
              / START list group
              #notifications-box.list-group
                #preview-notifications
                = link_to notifications_path, class: 'list-group-item' do
                  %small= t '.see_more'
                  %span.unread-notifications.label.label-danger.pull-right
              / END list group
          / END Dropdown menu
        %li
          %a{'data-no-persist': 'true', 'data-toggle-state': 'offsidebar-open', href: '#'}
            %em.icon-user
        / END User menu
      - else
        %li.dropdown.dropdown-list
          %a{'data-toggle': 'dropdown', href: '#'}
            %em.icon-user
          %ul.dropdown-menu
            %li
              %a{href: sign_in_path}
                =  t 'layouts.application.sign_in'
            %li.dropdown-header
              = t '.not_signed_up'
            %li
              %a{href: sign_up_path}
                = t '.sign_up'


    / END Right Navbar
  / END Nav wrapper
  / START Search form
  = simple_form_for :search, url: search_form_url, method: :get, html: {class: 'navbar-form'} do |f|
    .form-group.has-feedback
      = f.input_field :q, class: 'form-control', placeholder: t('.search_description')
      .fa.fa-times.form-control-feedback{'data-search-dismiss': true}
    = f.button :submit, 'Search', class: 'hidden'
