- if locations.any?
  %table.table.table-striped
    %tbody
      - locations.each do |g|
        %tr
          %td
            %h4
              =link_to recursive_location_path(g) do
                %strong= g.title
            .text-muted.text-sm
              %span
                %strong.mr-sm>
                  = g.children.size
                  = t '.sublocations'
              %span.mh-sm
              %span
                %strong.mr-sm>
                  = g.topics.size
                  = t '.topics'
          %td.text-right.hidden-xs.hidden-sm
            .text-muted
              %small
                = t '.created_at', timestamp: time_ago_in_words(g.updated_at)

  - page_param ||= 'page_sublocations'
  = paginate locations, param_name: page_param, remote: true

- else
  .text-center
    = t '.locations_not_found'
