!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    = display_meta_tags og: { title: 'Konsento: Rekta Demokratio Apertfonta', site_name: 'Konsento', type: 'website', url: 'http://konsento.org', image: 'http://konsento.org/img/og-logo.png', description: 'Direct Democracy Open Source / Democracia Direta Código Aberto / Democracia Directa Código Abierto' }
    %title Konsento
    / =============== VENDOR STYLES ===============
    = stylesheet_link_tag 'base'
    / =============== VIEW VENDOR STYLES ===============
    -# = stylesheet_link_tag params[:controller]
    / =============== APP STYLES ===============
    = stylesheet_link_tag 'application', media: 'all', id: "maincss"
    = csrf_meta_tags
  %body
    .wrapper
      = yield

    / =============== VENDOR SCRIPTS ===============
    = javascript_include_tag 'base'
    / =============== VIEW VENDOR SCRIPTS ===============
    -# = javascript_include_tag params[:controller]
    / =============== APP SCRIPTS ===============
    = javascript_include_tag 'application'
